{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <h4 class="my-4">Candidato cadastrado com sucesso</h4>
        <div class="col-md-12 order-md-1">
            <p>Este foram os dados que você forneceu na sua inscrição:</p>
            <ul>
                <li>Nome: {{ candidato.primeiro_nome }}{{ candidato.sobrenome }}.</li>
                <li>E-mail: {{ candidato.email }}</li>
                <li>CPF: {{ candidato.cpf }}</li>

            </ul>
        </div>

    </div>


{% endblock content %}